.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dogImage {
  min-height: 50vh;
  max-height: 80vh;
}

.nextDog {
  position: absolute;
  top: 50%;
  right: 100px;


  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: rgb(90, 217, 226);
  transition: all 0.3s linear;

  box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.29);

  
}

.nextDog:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.3s linear;
}